/* * {
  outline: 1px dashed red;
} */

/* Desktop */

#info {
  margin-top: 5%;
  color: white;
}

#form-container {
  display: flex;
  justify-content: center;
}

form #add-player-btn {
  color: #00A3E0;
  width: 100%;
}

/* Mobile */
