/* * {
  outline: 1px dashed red;
} */

html {
  background-color: #00A3E0;
}

div {
  width: 100%;
  background-color: #00A3E0;
}

#player-name {
  margin-top: 3%;
}

#table-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

  #table-container #table {
      width: 80%;
    }


/* desktop */

/* mobile */

#mobile #table-container {
}
