/* * {
  outline: 1px dashed red;
} */

html {
  background-color: #00A3E0;
}

div {
  width: 100%;
  background-color: #00A3E0;
}

#player-name {
  margin-top: 3%;
}

#table-container {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 1% 0;
}

  #table-container #table {
      width: 80%;
    }


/* desktop */

/* mobile */

#small-mobile span {
  font-weight: bolder;
}

#small-mobile h4 {
  margin: 7% 0 1%;
  color: #EF3340;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}
