#playerNaDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#playerNaDiv nav {
  width: 100%;
}

p {
  width: 70%;
  color: red;
  background-color: white;
  font-size: 1.2rem;
}
